<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3>Activate Account</h3>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          [mustMatch]="['password', 'confirmPassword']" novalidate>
          <!-- <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                      <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                          <div *ngIf="firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                      <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                          <div *ngIf="lastName.errors.required">Last Name is required</div>
                      </div>
                  </div> -->
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required email />
            <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
              <div *ngIf="userName.errors.required">User name is required</div>
              <div *ngIf="userName.errors.userName">User name must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" name="passwordConfirm" [(ngModel)]="model.passwordConfirm"
              #passwordConfirm="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passwordConfirm.invalid }"
              required />
            <div *ngIf="f.submitted && passwordConfirm.invalid" class="invalid-feedback">
              <div *ngIf="passwordConfirm.errors.required">Confirm Password is required</div>
              <div *ngIf="passwordConfirm.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
          <div class="form-group">
            <label for="sel1">Role</label>
            <select class="form-control" id="sel1" name="role" [(ngModel)]="model.role">
              <option value="student">student</option>
              <option value="professor">professor</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Activate</button>
          </div>
        </form>
      </div>
    </div>
    <div style="text-align:center; color: blue;" *ngIf="message">{{message}}</div>
  </div>
</div>
